---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  class="
    inline-flex
    items-center
    gap-1

    text-lg
    font-medium

    text-cyan-600
    dark:text-cyan-300

    transition-all
    duration-300

    hover:text-cyan-800
    dark:hover:text-cyan-200

    hover:gap-2
  "
>
  <slot />
</a>